<!DOCTYPE html>
<html>
<head>
    <title>Update Student</title>
</head>
<body>
    <h1>Update Student</h1>
    <% if (typeof errors !== 'undefined') { %>
        <ul style="color: red;">
            <% errors.forEach(function(error) { %>
                <li><%= error %></li>
            <% }); %>
        </ul>
    <% } %>
    <form method="POST" action="/students/edit/<%= student.sid %>">
        <div>
            <label>Student ID:</label><br>
            <input type="text" name="sid" value="<%= student.sid %>" readonly>
        </div>
        <div>
            <label>Name:</label><br>
            <input type="text" name="name" value="<%= student.name %>">
        </div>
        <div>
            <label>Age:</label><br>
            <input type="number" name="age" value="<%= student.age %>">
        </div>
        <div>
            <input type="submit" value="Update Student">
        </div>
    </form>
    <p><a href="/students">Back to Students</a></p>
</body>
</html>